<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ASP_Connection" connectionString="XpoProvider=MSSqlServer;data source=14.241.201.7,1537;user id=sa;password=L@cH0ng#@!2026$;initial catalog=ASP;Persist Security Info=true" />
    </connectionStrings>
</configuration>